body {
    background-color: pink;
    overflow-y: scroll smooth;
    padding: 1em;
}

.wrapper, .textWrapper {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.normalText {
    display: flex;
    justify-content: center;
}

.cat {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}